{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="text-white text-center" style="padding-bottom:100px; background:rgba(156, 14, 48, 0.7);border-bottom:2px solid rgb(141, 198, 63);">
    <div class="container text-center text-white">
        <div class="display-4 py-4">Our Management</div>
        <img class="img-fluid img-thumbnail" src="{% static 'images/waiter_team.png'%}" alt="">
        <div>I have a question. Are you comfortable in getting your website developed in WordPress?
            Do you have any preference? Please open PMB (Project Message Board) and let me know your answer.
            I have a question. Are you comfortable in getting your website developed in WordPress?
            Do you have any preference? Please open PMB (Project Message Board) and let me know your answer.
        </div>
    </div>
</div>
<div class="text-white text-center py-5" style="background:rgba(0, 0, 0, 0.7);border-bottom:2px solid rgb(156, 14, 48);">
    <div class="container">
        <div class="display-4">Our Sheff</div>
        <div class="row py-5">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <img class="img-fluid rounded-circle img-thumbnail" src="{% static 'images/cook3_300x450.jpg'%}" alt="">
                <h4>John Doe</h4>
                <p>you comfortable in getting your have any preference
                        you comfortable in getting your have any preference
                </p> 
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                    <img class="img-fluid rounded-circle img-thumbnail" src="{% static 'images/cook1_300x450.jpg'%}" alt="">
                    <h4>John Doe</h4>
                <p>you comfortable in getting your have any preference
                        you comfortable in getting your have any preference
                </p> 
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                    <img class="img-fluid rounded-circle img-thumbnail" src="{% static 'images/cook2_300x300.jpg'%}" alt="">
                    <h4>John Doe</h4>
                <p>you comfortable in getting your have any preference
                        you comfortable in getting your have any preference
                </p> 
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                    <img class="img-fluid rounded-circle img-thumbnail" src="{% static 'images/cook4_300x300.jpg'%}" alt="">
                    <h4>John Doe</h4>
                <p>you comfortable in getting your have any preference
                        you comfortable in getting your have any preference
                </p> 
            </div>
        </div>
    </div>
</div>
<div class="text-white text-center py-5" style="background:rgba(141, 198, 63, 0.7);border-bottom:2px solid rgb(0, 0, 0);">
        <div class="container">
            <div class="display-4">Our Delivery Team</div>
            <div class="row py-5">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <img class="img-fluid rounded-circle img-thumbnail" src="{% static 'images/delivery_person1.png'%}" alt="">
                    <h4>John Doe</h4>
                    <p>you comfortable in getting your have any preference
                            you comfortable in getting your have any preference
                    </p> 
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                        <img class="img-fluid rounded-circle img-thumbnail" src="{% static 'images/delivery_person2.png'%}" alt="">
                        <h4>John Doe</h4>
                    <p>you comfortable in getting your have any preference
                            you comfortable in getting your have any preference
                    </p> 
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                        <img class="img-fluid rounded-circle img-thumbnail" src="{% static 'images/delivery_person3.png'%}" alt="">
                        <h4>John Doe</h4>
                    <p>you comfortable in getting your have any preference
                            you comfortable in getting your have any preference
                    </p> 
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                        <img class="img-fluid rounded-circle img-thumbnail" src="{% static 'images/delivery_person4.png'%}" alt="">
                        <h4>John Doe</h4>
                    <p>you comfortable in getting your have any preference
                            you comfortable in getting your have any preference
                    </p> 
                </div>
            </div>
        </div>
    </div>
{% endblock %}